# Adult-media API providers bundled by blindDL. Requires Python 3.12+.
curl-cffi>=0.14,<1
aebndl @ git+https://github.com/hyper440/aebn-vod-downloader@38438ec1660c56524bfe7007c4a8e1343994a589
eaf_base_api @ git+https://github.com/EchterAlsFake/eaf_base_api
unofficial-api-for-beeg @ git+https://github.com/EchterAlsFake/unofficial-api-for-beeg
unofficial-api-for-eporner @ git+https://github.com/EchterAlsFake/unofficial-api-for-eporner
unofficial-api-for-hqporner @ git+https://github.com/EchterAlsFake/unofficial-api-for-hqporner
unofficial-api-for-missav @ git+https://github.com/EchterAlsFake/unofficial-api-for-missav
porngo_api @ git+https://github.com/EchterAlsFake/unofficial-api-for-porngo
unofficial-api-for-pornhub @ git+https://github.com/EchterAlsFake/unofficial-api-for-pornhub
unofficial-api-for-porntrex @ git+https://github.com/EchterAlsFake/unofficial-api-for-porntrex
unofficial-api-for-redtube @ git+https://github.com/EchterAlsFake/unofficial-api-for-redtube
Sex_API @ git+https://github.com/EchterAlsFake/unofficial-api-for-sex.com
unofficial-api-for-spankbang @ git+https://github.com/EchterAlsFake/unofficial-api-for-spankbang
unofficial-api-for-thumbzilla @ git+https://github.com/EchterAlsFake/unofficial-api-for-thumbzilla
unofficial-api-for-tube8 @ git+https://github.com/EchterAlsFake/unofficial-api-for-tube8
unofficial-api-for-xfreehd @ git+https://github.com/EchterAlsFake/unofficial-api-for-xfreehd
unofficial-api-for-xhamster @ git+https://github.com/EchterAlsFake/unofficial-api-for-xhamster
unofficial-api-for-xnxx @ git+https://github.com/EchterAlsFake/unofficial-api-for-xnxx
unofficial-api-for-xvideos @ git+https://github.com/EchterAlsFake/unofficial-api-for-xvideos
unofficial-api-for-youporn @ git+https://github.com/EchterAlsFake/unofficial-api-for-youporn
